:root
{
    --primary-color: #0C1618;
    --secondary-color: #FAF4D3;
}

html
{
    scroll-behavior: smooth;
}

body
{
    font-size: 28px;
    box-sizing: border-box;
    margin: 0;
    font-family: "MontSerrat", sans-serif;
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

a
{
    
    text-decoration: none;
}

h2
{
    text-align: center;
    font-size: 48px;
}

p
{
    text-align: center;
}

#navbar
{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    box-sizing: border-box;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    top: 0px;
    margin: 0;
    width: 100%;
    height: 10vh;
}

#navbar ul
{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    height: 100%;
}

.nav-link
{
    display: block;
    margin: auto 1em;
    transition: transform 0.3s ease-out;
}

.nav-link:hover
{
    transform: scale(1.1);
}

.nav-link:active
{
    transform: scale(1);
}

#navbar a
{
    color: var(--secondary-color);
}

.nav-end
{
    margin: 10%;
    width:10vw
}

.navbar-space
{
    box-sizing: border-box;
    margin: 0;
    width: 100%;
    height: 10vh;
}

.project-grid
{
    display: grid;
    grid-template-columns: 30% 30% 30%;
}

.grid-element
{
    margin: 2em;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.project-image
{
    display: block;
    box-sizing: border-box;
    margin: 0;
    width: 100%;
}

.project-name
{
    display: block;
    margin: 0;
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    padding: 0.6em;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}



#welcome-section
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100vh;
    margin: 0;
}

#welcome-section h2
{
    margin: 0 auto;
}


#projects
{
    width: 100%;
    height: 100vh;
}

#contact-section
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

#contact-section h2
{
    display: block;
    margin: 2em auto;
}

#contact-section ul
{
    display: flex;
    justify-content: center;
}

#contact-section a
{
    color: var(--primary-color);
}

.link
{
    display: block;
    margin: auto 3em;
    transition: transform 0.3s ease-out;
}

.link:hover
{
    transform: scale(1.5);
}